# All PRs require 1 approval (branch protection)
# Changes to critical files require BOTH maintainers

LICENSE @forzagreen @tylervigario
README.md @forzagreen @tylervigario
CHANGELOG.md @forzagreen @tylervigario
