# Automatically handle line endings
* text=auto

# Force line endings for these files
*.js  text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf

# Don't add these files to git archives
CHANGELOG.md export-ignore
